!-----------------------------------------------------------------------
!                         Xft settings
!-----------------------------------------------------------------------

! DPI/Font
Xft.dpi: 70
!Xft.autohint: 1
!Xft.antialias: 1
!Xft.hinting: true
!Xft.hintstyle: hintslight
!Xft.rgba: rgb
!Xft.lcdfilter: lcddefault


! Dylans Xresources
URxvt*buffered: true

Xft.autohint:           0
Xft.antialias:          true
Xft.rgba:               rgb
Xft.hinting:            true
Xft.lcdfilter:          lcddefault
Xft.hintstyle:          hintsfull


!-----------------------------------------------------------------------
!                        URxvt settings
!-----------------------------------------------------------------------
!!ansi = ["#131317", "#999EB2", "#626983", "#D3D5DE", "#7C829D", "#E2E4ED", "#B6BAC8", "#868690"]
!!brights = ["#575861", "#999EB2", "#626983", "#D3D5DE", "#7C829D", "#E2E4ED", "#B6BAC8", "#868690"]

*.foreground:   #7C829D
*.background:   #131317
*.cursorColor:  #7C829D

! black
*.color0:       #131317
*.color8:       #575861

! red
*.color1:       #999EB2
*.color9:       #999EB2

! green
*.color2:       #626983
*.color10:      #626983

! yellow
*.color3:       #D3D5DE
*.color11:      #D3D5DE

! blue
*.color4:       #7C829D
*.color12:      #7C829D

! magenta
*.color5:       #E2E4ED
*.color13:      #E2E4ED

! cyan
*.color6:       #B6BAC8
*.color14:      #B6BAC8

! white
*.color7:       #868690
*.color15:      #868690

URxvt.colorIT:                        #DEDEDE
URxvt.colorBD:                        #B1ACAC
!URxvt.colorUL:                       #7C829D
URxvt.highlightTextColor:             #ffffff
URxvt.highlightColor:                 #7C829D
!URxvt.underlineColor:                #575861


! +=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=+=

Urxvt.secondaryScroll:  true    # Enable Shift-PageUp/Down in screen

URxvt.internalBorder:    25
URxvt.externalBorder:    10
URxvt.lineSpace:         0
URxvt*shading:           30
URxvt.depth:             32
URxvt.saveLines:         700
URxvt*geometry:          140x30
URxvt*terminalName:      rxvt-unicode-256color
URxvt*visualBell:        false

!! Scrollbar
!URxvt.scrollStyle:      rxvt
URxvt.scrollBar:         false
URxvt*scrollTtyOutput:   false
URxvt*scrollWithBuffer:  true
URxvt*scrollTtyKeypress: true

! fonts
!urxvt.font:              xft:PragmataPro for Powerline:size=12,xft:DankMono Nerd Font Mono:pixelsize=11,xft:PowerlineSymbols:size=9,xft:Droid Sans Mono for Powerline Plus Nerd File Types Mono:pixelsize=9,xft:FontAwesome:size=10
URxvt.font: xft:Fira Code:size=16,xft:Consolas:size=9,xft:DejaVu Sans:size=6,xft:FontAwesome:size=6

xterm*faceName: DejaVuSansMono
xterm*faceSize: 14

URxvt.letterSpace:       true

!! Keybinding
URxvt.keysym.C-Up:       perl:font-size:increase
URxvt.keysym.C-Down:     perl:font-size:decrease
URxvt.keysym.C-S-Up:     perl:font-size:incglobal
URxvt.keysym.C-S-Down:   perl:font-size:decglobal
!Home and End keys to jump to the beginning and end of lines

!! Tabs
URxvt.tabbed.tabbar-bg:  -1
URxvt.tabbed.tabbar-fg:  -2
URxvt.tabbed.tab-bg:     -2
URxvt.tabbed.tab-fg:     -1
URxvt.tabbed.title-bg:   -1
URxvt.tabbed.title-fg:   -2
URxvt.tabbed.autohide:   true
URxvt.tabbed.new-button: true
URxvt.tabbed.title:      true

!! Perl extensions
! url-select (part of urxvt-perls package)
URxvt.perl-ext-common:      default,clipboard,matcher,keyboard-select
URxvt.keysym.M-u: perl:     url-select:select_next
URxvt.url-select.autocopy:  true
URxvt.url-select.button:    2
URxvt.url-select.underline: true
URxvt.url-launcher:         /usr/bin/opera
URxvt.matcher.button:       1

!! CopyPaste Keys
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy

!! Disable the stupid ctrl+shift 'feature'
URxvt.iso14755:            false
URxvt.iso14755_52:         false

!! Cursor
Xcursor.theme:             Sweet-Mars

!! Pointer
!URxvt.pointerBlank:        true
