layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    pane_template name="start_dev" {
        pane split_direction="horizontal" {
            children
            pane command="yarn" size="30%" {
                args "dev"
            }
        }
    }
    tab_template name="strider_tab" {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        pane split_direction="Vertical" {
            pane size="15%" {
                // TODO: when we support sending CWD to plugins, this should start in ./zellij-derver
                plugin location="zellij:strider"
            }
            children
        }
        pane size=2 borderless=true {
            plugin location="zellij:status-bar"
        }
    }
    strider_tab name="Server (root)" cwd="~/workspace/github/dev/getstarted" focus=true {
        start_dev split_direction="vertical" {
            pane edit="./package.json"
        }
    }
    tab name="Client (root)" cwd="~/workspace/github/dev/getstarted" {
        pane split_direction="vertical" {
            pane edit="./src/routes/+layout.svelte"
        }
        // tests_under_files split_direction="vertical" {
        // }
    }
}